{% extends "index.html" %}
{% load static %}
{% block content %}


    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove / Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in pro %}
                                <form action="{% url 'updcart' cart_id=i.id %}" method="POST">
                                    {% csrf_token %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
									<img style="height: 150px;width: 150px;" class="img-fluid" src="/media/{{i.product_id.product_image1}}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
									{{i.product_id}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{i.product_id.price}}</p>
                                    </td>
                                    <td class="quantity-box"><input name="qty" type="number" size="4" value="{{i.product_qty}}" min="0" step="1" class="c-input-text qty text"></td>
                                    <td class="total-pr">
                                        <p>{{i.total}}</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'delcart' cart_id=i.id %}">
									<i class="fas fa-times"></i>
								</a>
                                <div class="update-box">
                                    <input value="Update" type="submit">
                                </div>
                                    </td>
                                    
                                </tr>
                                
                                </form>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold"> {{ subt }} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Total Quantity</h4>
                            <div class="ml-auto font-weight-bold"> {{ qty }} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Discount</h4>
                            <div class="ml-auto font-weight-bold"> -- </div>
                        </div>
                        
                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold"> Free </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5"> {{ subt }} </div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="#" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->


{% endblock %}