{% extends "index.html" %}
{% load static %}
{% block content %}

        
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Product List</h4>
          <br>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Image 1</th>
                  <th>Image 2</th>
                  <th>Image 3</th>
                  
                  <th>Price</th>
                  <th>Stock</th>
                  <th>Category</th>
            
                  <th>Product Description</th>
                  <th>Cart</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                
                {% for i in datas %}
                <tr>
                  <td>{{i.product_name}}</td>
                  <td><img src="media/{{i.product_image1}}" alt="" style="height: 100px; width: 100px;"></td>
                  <td><img src="media/{{i.product_image2}}" alt="" style="height: 100px; width: 100px;"></td>
                  <td><img src="media/{{i.product_image3}}" alt="" style="height: 100px; width: 100px;"></td>
                  
                  <td>{{i.price}}</td>
                  <td>{{i.stock}}</td>
                  <td>{{i.pcat}}</td>
                  
                  <td style="width: 200px;">{{i.product_description}}</td>
                  <td><button type="button"><a href="{% url 'cartpro' product_id=i.id %}">Cart</a></button></td>
                  <td><button type="button"><a href="{% url 'updpro' product_id=i.id %}">Update</a></button></td>
                  <td><button type="button"><a href="{% url 'delpro' product_id=i.id %}">Delete</a></button></td>
                  
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
</div>   
    
{% endblock %}