{% extends "index.html" %}
{% load static %}
{% block content %}

            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Products</h4>
                    <form class="forms-sample" action="{% url 'updpro' product_id=id %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input name="product_name" value="{{ upd.product_name }}" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label>Image 1</label>
                        <input type="file" name="product_image1" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled value="{{ upd.product_image1 }}">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Image 2</label>
                        <input type="file" name="product_image2" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled value="{{ upd.product_image2 }}">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Image 3</label>
                        <input type="file" name="product_image3" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled value="{{ upd.product_image2 }}">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Product Description</label>
                        <input name="product_description" value="{{ upd.product_description }}" type="text" class="form-control" id="exampleTextarea1" rows="4" placeholder="Product Description">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Price</label>
                        <input name="price" value="{{ upd.price }}" type="number" class="form-control" id="exampleInputEmail3" placeholder="Price">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Stock</label>
                        <input name="stock" value="{{ upd.stock }}" type="number" class="form-control" id="exampleInputPassword4" placeholder="Stock">
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Category</label>
                        <select name="category" value="{{ upd.cat_name }}" class="form-control" id="exampleSelectGender">
                          <option value="{{ upd.category.cat_name }}">--Select--</option>
                          {% for i in cat%}
                          <option value="{{i.id}}">{{i.cat_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          
{% endblock %}