<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'action'  %}" method="POST"></form>
    {% csrf_token %}
    <div> 
        <label for="Node"></label>
        <input type="text" name="parent" placeholder="Please enter the node"/>
    </div>
    <div>
        <label>Option</label>
        <select name="category">
          <option>Left</option>
          <option>Right</option>
        </select>
    </div>
    <div>
        <button type="submit"><a href="{% url 'show'  %}"></a>Submit</button>
    </div>
    </form>
</body>
</html>