<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/disbinary.css">
</head>
<body>
    {% for i in obj %}
    <div class="tree">
        <ul>
            <li>
                <a href="#">{{i.parent_name}}</a>
                <ul>
                    <li>
                        <a href="#">B</a>
                        <ul>
                <li>
                                <a href="#">B.A</a>
                  
                            </li>
                            <li>
                                <a href="#">B.B</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">C</a>
                        <ul>
                            <ul>
                <li>
                                <a href="#">C.A</a>
                  <ul>
                <li>
                                <a href="#">C.A.A</a>
                            </li>
                            <li>
                                <a href="#">C.A.B</a>
                            </li>
                        </ul>
                            </li>
                            <li>
                                <a href="#">C.B</a>
                            </li>
                        </ul>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    {% endfor %}
</body>
</html>