<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table >
        <thead>
            <tr>
                <th>Child name</th>
                <th>child id</th>
                <th>parent id</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                {% for i in c %}
                <th>{{i.child_name</th>
                <th>{{i.child_id</th>
                <th>{{i.parent_id</th> 
                {% endfor %}   
            </tr>
        </tbody>
</body>
</html>